.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-out;
}

.modal-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.modal-close {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  position: relative;
  cursor: pointer;
  float: right;
}

.modal-close:hover {
  color: rgb(255, 87, 87);
}

.modal-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-align: center;
}

.modal-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.modal-form input,
.modal-form textarea {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-form textarea {
  resize: none;
  height: 80px;
}

.submit-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}

.submit-btn:hover {
  background: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
